@page
@model MascotaFeliz.App.Frontend.Pages.DetallesDuenosModel
@{
}
<section class="block-form">
<div class="header-form">
    <img src="~/images/datos-dueno.png" alt="">
</div>
<div class="container-form">
<form method="get" >
    <table style="margin-left: 40px;">
        <tr><td colspan="2" style="">
            <h1 style="font-size: 1.5rem;" >
                @Model.dueno.Nombres @Model.dueno.Apellidos
            </h1>
            </td>
        </tr>
        <tr> <td style="font-weight: 700;">Código: </td><td style="padding-left: 15px;">@Model.dueno.Id</td></tr>
        <tr> <td style="font-weight: 700;">Direccion: </td><td style="padding-left: 15px;">@Model.dueno.Direccion</td> </tr>
        <tr> <td style="font-weight: 700;">Telefono: </td><td style="padding-left: 15px;">@Model.dueno.Telefono</td> </tr>    
        <tr> <td style="font-weight: 700;">T. Profesional: </td><td style="padding-left: 15px;">@Model.dueno.Correo</td> </tr>
    </table>
    <div style="margin-top: 1rem; text-align:center">
        <input type="hidden" name="Id" value=@Model.dueno.Id>
        <button class="main-button" asp-area="" asp-page="/Duenos/ActualizarDuenos">Actualizar</button>
    </div>
</form>
</div>
</section>
<section>
    <table class="table table-striped mt-5">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>COLOR</th>
            <th>ESPECIE</th>
            <th>RAZA</th>
            <th>VETERINARIO</th>
            <th>DETALLES</th>
        </tr>
        @foreach (var mascota in Model.ListaMascota){
            <tr>
                <td>@mascota.Id</td>
                <td>@mascota.Nombres</td>
                <td>@mascota.Color</td>
                <td>@mascota.Especie</td>
                <td>@mascota.Raza</td>
                <td>@mascota.Veterinario.Nombres @mascota.Veterinario.Apellidos</td>
                <td>
                    <form class="form-rowTables" action="" method="get">
                        <input type="hidden" name="CajitaIdMascota" value="@mascota.Id">
                        <button class="detail-button" asp-area="" asp-page="/Mascotas/DetalleMascota">
                            + Info
                        </button>     
                    </form>               
                </td>
            </tr>
        }
    </table>
</section>

