@page
@model MascotaFeliz.App.Frontend.Pages.ActualizarMascotasModel
@{
    //creamos el objeto random y asignamos a una variable string
    Random r = new Random();
    string a = r.Next().ToString();
}

<section class="block-form">
    <!-- dentro de este va la imagen de cabecera -->
    <div class="header-form">
        <img src="~/images/actualizar-mascota.png" alt="">
    </div>
    <!-- dentro de este va el formulario -->
    <div class="container-form">
        <form action="" method="post">
            <!-- en este form va nuestro contenido de etiquetas inputs botones -->
            <input name="id" type="hidden" value=@Model.MascotaActualizacion.Id>
            <div class="row-form">
                <label for="idNombre">Nombre:</label>
                <input name="nombremascota" id="idNombre" class="textBox" type="text"
                    value="@Model.MascotaActualizacion.Nombres">
            </div>
            <div class="row-form">
                <label for="idColor">Color:</label>
                <input name="colormascota" id="idColor" class="textBox" type="color"
                    value="@Model.MascotaActualizacion.Color">
            </div>
            <div class="row-form">
                <label for="idEspecie">Especie:</label>
                <select name="especiemascota" class="textBox">
                    <option value="@Model.MascotaActualizacion.Especie" selected>@Model.MascotaActualizacion.Especie
                    </option>
                    <option value="Canino">Canino</option>
                    <option value="Felino">Felino</option>
                    <option value="Ave">Ave</option>
                    <option value="Roedor">Roedor</option>
                    <option value="Pez">Pez</option>
                    <option value="Reptil">Reptil</option>
                    <option value="Anfibio">Anfibio</option>
                    <option value="Hominido">Hominido</option>
                    <option value="Equino">Equino</option>
                    <option value="Vacuno">Vacuno</option>
                    <option value="Ovino">Ovino</option>
                    <option value="Caprino">Caprino</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="row-form">
                <label for="idRaza">Raza:</label>
                <input name="razamascota" id="idRaza" class="textBox" type="text"
                    value="@Model.MascotaActualizacion.Raza">
            </div>

            <div class="row-form">
                <label for="idDueno">Dueño:</label>
                <select name="selectDueno" class="textBox">
                    @foreach (var elDueno in Model.ListaDuenos)
                    {
                        if (elDueno.Id == Model.DuenoMascota.Id)
                        {
                            <option value="@elDueno.Id" selected>@elDueno.Nombres @elDueno.Apellidos</option>
                        }
                        else
                        {
                            <option value="@elDueno.Id">@elDueno.Nombres @elDueno.Apellidos</option>
                        }
                    }
                </select>
            </div>
            <div class="row-form">
                <label for="idVeterinario">Veterinario:</label>
                <select name="selectVeterinario" class="textBox">
                    @foreach (var elVeterinario in Model.ListaVeterinarios)
                    {
                        if(elVeterinario.Id==Model.VeterinarioMascota.Id)
                        {
                        <option value="@elVeterinario.Id" selected>@elVeterinario.Nombres @elVeterinario.Apellidos</option>
                        }
                        else
                        {
                        <option value="@elVeterinario.Id">@elVeterinario.Nombres @elVeterinario.Apellidos</option>
                        }
                    }
                </select>
            </div>


            <div class="row-form">
                <!-- coloco un contenedor vacio al principo y al final para que centre y no tener que hacer otra clase -->
                <div></div>
                <button class="main-button">Actualizar</button>
                <div></div>
            </div>
        </form>
    </div>

</section>